.header {
  padding: 70px;
  text-align: center;
  background-image: white;
  color: black;
  font-size: 30px;
  }

p { font-family: Garamond, serif; }
h1 {font-family: Garamond, serif; }
h4 {font-family: Arial; }
h5 {font-family: Arial; }
p { line-height: 1.5;
}
.header h1 {
    font-size: 40px;
  }
* {
    box-sizing: border-box;
  }
.row {
    display: flex;
    flex-wrap: wrap;
  }
.side {
    flex: 30%; 
    background-color: #f1f1f1; 
    padding: 20px; 
  }
.main {
    flex: 70%; 
    background-color: white; 
    padding: 20px; 
  }

@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
 
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .navbar {
    overflow: hidden; 
    background-color: #f1f1f1; /
  }
  
  .navbar a {
    float: left; 
    display: block; 
    color: rgb(78, 76, 76); 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
  }
  
  .navbar a.right {
    float: right; 
  }
  
  .navbar a:hover {
    background-color: #a09e9e; 
    color: black; 
  }
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #fffffff1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #fdfbfb;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: rgb(247, 25, 13);}
